.baseflowers{
    background-color: rgba(62,87,176,.5);
    width: 100vw;
    height: 100vh;
}

.baseflowers__container{
    width: 1350px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.baseflowers__body{
    background-color: azure;
    width: 100%;
    height: 90%;
    border-radius: 35px;
    margin-top: 50px;
    border: 2px solid #39ff14;
    display: flex;
}

.baseflowers__menu{
    background-color: azure;
    width: 300px;
    height: 105%;
    display: flex;
    border-radius: 35px;
    border: 2px solid #39ff14;
    margin-top: -20px;
}

.baseflowers__flower{
    padding-left: 50px;
    width: 750px;
    font-size: 20px;
    font-family: SignPainter;
}

.flower__paragraph{
    font-size: 30px;
}

.form_search{
    font-size: 15px;
    background-color:azure;
    width: 160px;
    height: 30px;
    display: flex;
}

.flower__info{
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-top: 10px;
}

.flower__info{
    display: inline-block;
    flex-wrap: wrap;
    width: 160px;
    word-wrap: break-word;
    max-height: 100%;
    justify-content: space-between;
}

.flower__list{
    height: 500px;
    overflow: scroll;
    padding-left: 25px;
    position: relative;
    border-top: 1px solid;
}

.flower__img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 15px;
}

.add_client{
    margin-top: 55px;
    font-family: SignPainter;
}

.add_client__title{
    text-transform: uppercase;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 25px;
}

.info{
    font-size: 25px;
    font-family: SignPainter;
    margin-top: 35px;
    margin-bottom: 45px;
}

.info__item{
    margin-left: 20px;
    font-size: 20px;
    font-family: SignPainter;
    margin-top: 30px;
    text-transform: uppercase;
}

.item{
    border-bottom: 2px solid #39ff14;
    margin-right: 10px;
}

.icon__update{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.field{
    margin-top: 10px;
    font-size: 20px;
    font-family: SignPainter;
}

.btn{
    font-family: SignPainter;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #212E23;
    color: white;
    border-radius: 30px;
}

.info__update{
    font-size: 25px;
    font-family: SignPainter;
    margin-top: 35px;
    margin-bottom: 30px;
}

.control input{
    background-color: transparent;
    border: 1px solid #39ff14;
    font-size: 20px;
    font-family: SignPainter;
    height: 30px;
    width: 180px;
    padding-left: 5px;
}

.control{
    margin-top: 10px;
}

.flower__deleted{
    width: 30px;
    position: absolute;
    cursor: pointer;
    margin-top: 50px;
    display: block;
    margin: 20% 40%
}

.flower__deleted:hover{
    width:40px;
    margin: 20% 35%
}

.img__block{
  width: 120px;
  height: 120px;
}

.container_flex{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}
.search_flower{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.close_flower{
    cursor: pointer;
}

.flower__search{
    margin-left: 450px;
    display: flex;
}
.input_file{
    border: none !important;
}

.flower__change{
    width: 120px;
    height: 120px;
    border-radius: 15px;
    margin-top: -120px;
    background-color: rgba(52, 52, 52, 0.8);
    position: absolute;
    display: none;
}

.flower__update {
    width: 30px;
    position: absolute;
    cursor: pointer;
    margin-top: 50px;
    display: block;
    margin: 40% 40%
}

.flower__update:hover{
    width:40px;
    margin: 35% 35%
}

#form_file_upload {
    height: 5rem;
    width: 14rem;
    max-width: 100%;
    text-align: center;
    position: relative;
  }
  
  #input_file_upload {
    display: none;
  }
  
  #label_file_upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #39ff14;
    background-color: #f8fafc;
    font-family: 'Oswald', sans-serif;
  }
  
  .upload_button {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background-color: transparent;
  }
  
  .upload_button:hover {
    text-decoration-line: underline;
    background-color: transparent;
  }
  
  .imageDisplay{
    width: 140px;
    height: 140px;
    position: relative;
    margin-bottom: 20px;
  }

  .imageDisplay img{
    width: 100%;
    border-radius: 10px;
  }

  .savepdfflower{
    border: 1px solid #212E23;
    border-radius: 30px;
    width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #212E23;
    cursor: pointer;
    margin-left: 50px;
  }

  .savepdfflower:hover{
    background-color: #fff;
    color:#212E23
  }
